# Server configuration
PORT=3000

# WhatsApp API configuration
CLOUD_API_ACCESS_TOKEN=<CLOUD_API_ACCESS_TOKEN>
WA_PHONE_NUMBER_ID=<WA_PHONE_NUMBER_ID>
WA_BUSINESS_ACCOUNT_ID=<WA_BUSINESS_ACCOUNT_ID>

# Webhook configuration
WEBHOOK_VERIFICATION_TOKEN=<WEBHOOK_VERIFICATION_TOKEN>

# Flow API configuration
FLOW_API_PRIVATE_PEM="-----BEGIN RSA PRIVATE KEY-----\nProc-Type: 4,ENCRYPTED\nDEK-Info: DES-EDE3-CBC,67AFC2362593B49F\n\n...."
FLOW_API_PASSPHRASE=<FLOW_API_PASSPHRASE>
M4D_APP_SECRET=<M4D_APP_SECRET>

# Debug mode (true/false)
DEBUG=true 