# Server configuration
PORT=3000

# WhatsApp API configuration
CLOUD_API_ACCESS_TOKEN=<CLOUD_API_ACCESS_TOKEN>
WA_PHONE_NUMBER_ID=<WA_PHONE_NUMBER_ID>
WA_BUSINESS_ACCOUNT_ID=<WA_BUSINESS_ACCOUNT_ID>

# Webhook configuration
WEBHOOK_VERIFICATION_TOKEN=<WEBHOOK_VERIFICATION_TOKEN>

# Debug mode (true/false)
DEBUG=false 