{
  "openapi": "3.0.0",
  "info": {
    "title": "Meta Cloud API",
    "version": "1.0.0",
    "description": "API documentation for WhatsApp Cloud API"
  },
  "tags": [
    {
      "name": "Messages",
      "description": "API documentation for WhatsApp messages"
    },
    {
      "name": "Templates",
      "description": "API documentation for WhatsApp message templates"
    }
  ],
  "servers": [
    {
      "url": "https://graph.facebook.com/{version}",
      "variables": {
        "version": {
          "default": "v22.0",
          "description": "Meta Graph API version"
        }
      },
      "description": "Meta Cloud API production server"
    },
    {
      "url": "http://localhost:{port}",
      "description": "Local development server",
      "variables": {
        "port": {
          "default": "8080",
          "description": "Local server port"
        }
      }
    }
  ],
  "externalDocs": {
    "description": "Find out more about Meta Cloud API",
    "url": "https://developers.facebook.com/docs/whatsapp/cloud-api/reference/"
  },
  "paths": {
    "/{businessNumberId}/messages": {
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Send a message (unified endpoint supporting all message types)",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business phone number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "recipient"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of message to send",
                    "enum": [
                      "audio",
                      "contacts",
                      "document",
                      "image",
                      "interactive",
                      "location",
                      "sticker",
                      "template",
                      "text",
                      "video"
                    ]
                  },
                  "recipient": {
                    "type": "number",
                    "description": "The WhatsApp ID (phone number) of the recipient"
                  },
                  "replyMessageId": {
                    "type": "string",
                    "description": "Optional message ID to reply to"
                  },
                  "audio": {
                    "type": "object",
                    "description": "Audio message properties (required when type is 'audio')",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The media object ID from Meta servers"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "link"
                        ],
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "HTTP/HTTPS URL of the audio file. Content-Type must be audio/aac, audio/mp4, audio/mpeg, audio/amr, or audio/ogg",
                            "example": "https://example.com/audio.mp3"
                          }
                        }
                      }
                    ]
                  },
                  "contacts": {
                    "type": "array",
                    "description": "Contacts message properties (required when type is 'contacts')",
                    "items": {
                      "type": "object",
                      "required": [
                        "name"
                      ],
                      "properties": {
                        "name": {
                          "type": "object",
                          "required": [
                            "formatted_name"
                          ],
                          "properties": {
                            "formatted_name": {
                              "type": "string",
                              "example": "John Doe"
                            },
                            "first_name": {
                              "type": "string",
                              "example": "John"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Doe"
                            }
                          }
                        }
                      }
                    }
                  },
                  "document": {
                    "type": "object",
                    "description": "Document message properties (required when type is 'document')",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The media object ID from Meta servers"
                          },
                          "caption": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "link"
                        ],
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "HTTP/HTTPS URL of the document",
                            "example": "https://example.com/document.pdf"
                          },
                          "caption": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "image": {
                    "type": "object",
                    "description": "Image message properties (required when type is 'image')",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The media object ID from Meta servers"
                          },
                          "caption": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "link"
                        ],
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "HTTP/HTTPS URL of the image",
                            "example": "https://example.com/image.jpg"
                          },
                          "caption": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "interactive": {
                    "type": "object",
                    "description": "Interactive message properties (required when type is 'interactive')",
                    "required": [
                      "type",
                      "body",
                      "action"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "button",
                          "list",
                          "product",
                          "product_list"
                        ]
                      },
                      "body": {
                        "type": "object",
                        "required": [
                          "text"
                        ],
                        "properties": {
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "location": {
                    "type": "object",
                    "description": "Location message properties (required when type is 'location')",
                    "required": [
                      "longitude",
                      "latitude"
                    ],
                    "properties": {
                      "longitude": {
                        "type": "number",
                        "example": -122.1484785
                      },
                      "latitude": {
                        "type": "number",
                        "example": 37.4847285
                      },
                      "name": {
                        "type": "string",
                        "example": "Meta Headquarters"
                      },
                      "address": {
                        "type": "string",
                        "example": "1 Hacker Way, Menlo Park, CA 94025"
                      }
                    }
                  },
                  "sticker": {
                    "type": "object",
                    "description": "Sticker message properties (required when type is 'sticker')",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The media object ID from Meta servers"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "link"
                        ],
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "HTTP/HTTPS URL of the sticker",
                            "example": "https://example.com/sticker.webp"
                          }
                        }
                      }
                    ]
                  },
                  "template": {
                    "type": "object",
                    "description": "Template message properties (required when type is 'template')",
                    "required": [
                      "name",
                      "language"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "language": {
                        "type": "object",
                        "required": [
                          "policy",
                          "code"
                        ],
                        "properties": {
                          "policy": {
                            "type": "string",
                            "enum": [
                              "deterministic"
                            ]
                          },
                          "code": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "text": {
                    "type": "object",
                    "description": "Text message properties (required when type is 'text')",
                    "required": [
                      "body"
                    ],
                    "properties": {
                      "body": {
                        "type": "string"
                      },
                      "preview_url": {
                        "type": "boolean"
                      }
                    }
                  },
                  "video": {
                    "type": "object",
                    "description": "Video message properties (required when type is 'video')",
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The media object ID from Meta servers"
                          },
                          "caption": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "link"
                        ],
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "HTTP/HTTPS URL of the video",
                            "example": "https://example.com/video.mp4"
                          },
                          "caption": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  }
                }
              },
              "examples": {
                "text-message": {
                  "summary": "Text Message Example",
                  "value": {
                    "type": "text",
                    "recipient": 821012345678,
                    "text": {
                      "body": "Hello, this is a text message",
                      "preview_url": false
                    }
                  }
                },
                "image-message": {
                  "summary": "Image Message Example",
                  "value": {
                    "type": "image",
                    "recipient": 821012345678,
                    "image": {
                      "link": "https://example.com/image.jpg",
                      "caption": "Check out this image!"
                    }
                  }
                },
                "document-message": {
                  "summary": "Document Message Example",
                  "value": {
                    "type": "document",
                    "recipient": 821012345678,
                    "document": {
                      "link": "https://example.com/document.pdf",
                      "caption": "Important document",
                      "filename": "report.pdf"
                    }
                  }
                },
                "audio-message": {
                  "summary": "Audio Message Example",
                  "value": {
                    "type": "audio",
                    "recipient": 821012345678,
                    "audio": {
                      "link": "https://example.com/audio.mp3"
                    }
                  }
                },
                "location-message": {
                  "summary": "Location Message Example",
                  "value": {
                    "type": "location",
                    "recipient": 821012345678,
                    "location": {
                      "longitude": -122.1484785,
                      "latitude": 37.4847285,
                      "name": "Meta Headquarters",
                      "address": "1 Hacker Way, Menlo Park, CA 94025"
                    }
                  }
                },
                "video-message": {
                  "summary": "Video Message Example",
                  "value": {
                    "type": "video",
                    "recipient": 821012345678,
                    "video": {
                      "link": "https://example.com/video.mp4",
                      "caption": "Check out this video!"
                    }
                  }
                },
                "interactive-message": {
                  "summary": "Interactive Button Message Example",
                  "value": {
                    "type": "interactive",
                    "recipient": 821012345678,
                    "interactive": {
                      "type": "button",
                      "body": {
                        "text": "Would you like to proceed?"
                      },
                      "action": {
                        "buttons": [
                          {
                            "type": "reply",
                            "reply": {
                              "id": "yes_button",
                              "title": "Yes"
                            }
                          },
                          {
                            "type": "reply",
                            "reply": {
                              "id": "no_button",
                              "title": "No"
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "template-message": {
                  "summary": "Template Message Example",
                  "value": {
                    "type": "template",
                    "recipient": 821012345678,
                    "template": {
                      "name": "sample_template",
                      "language": {
                        "policy": "deterministic",
                        "code": "en_US"
                      },
                      "components": [
                        {
                          "type": "body",
                          "parameters": [
                            {
                              "type": "text",
                              "text": "John Doe"
                            },
                            {
                              "type": "text",
                              "text": "123456789"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{wabaId}/phone_numbers": {
      "get": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Get all phone numbers",
        "tags": [
          "Phone Numbers"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumbersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{businessNumberId}": {
      "get": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Get details for the specified phone number",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business phone number"
          },
          {
            "in": "query",
            "name": "fields",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to retrieve",
            "example": "id,account_mode,certificate,code_verification_status,display_phone_number,health_status,quality_score,throughput"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved phone number details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneNumber"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Set two-step verification PIN",
        "tags": [
          "Two-Step Verification"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business phone number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwoStepVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully set two-step verification PIN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{businessNumberId}/request_code": {
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Request verification code for phone number",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business phone number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully requested verification code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{businessNumberId}/verify_code": {
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Verify code for phone number",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business phone number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully verified code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{businessNumberId}/qr-codes": {
      "get": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Get all QR codes",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the WhatsApp Business phone number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved QR codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Create a new QR code",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the WhatsApp Business phone number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefilled_message": {
                    "type": "string",
                    "description": "Message to be pre-filled when the QR code is scanned"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created QR code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{businessNumberId}/qr-codes/{qrCodeId}": {
      "get": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Get a specific QR code by ID",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the WhatsApp Business phone number"
          },
          {
            "in": "path",
            "name": "qrCodeId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the QR code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved QR code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "QR code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Update a QR code",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the WhatsApp Business phone number"
          },
          {
            "in": "path",
            "name": "qrCodeId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the QR code to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefilled_message": {
                    "type": "string",
                    "description": "New message to be pre-filled when the QR code is scanned"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated QR code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "QR code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Delete a QR code",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the WhatsApp Business phone number"
          },
          {
            "in": "path",
            "name": "qrCodeId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the QR code to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted QR code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "QR code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{businessNumberId}/register": {
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Register a phone number",
        "tags": [
          "Registration"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business phone number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pin"
                ],
                "properties": {
                  "pin": {
                    "type": "string"
                  },
                  "data_localization_region": {
                    "$ref": "#/components/schemas/DataLocalizationRegionEnum"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully registered phone number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{businessNumberId}/deregister": {
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Deregister a phone number",
        "tags": [
          "Registration"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "businessNumberId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business phone number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deregistered phone number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{templateId}": {
      "get": {
        "security": [
          {
            "AccessToken": []
          },
          {
            "PhoneNumberId": []
          }
        ],
        "summary": "Get a specific template by ID",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the template to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        }
      },
      "post": {
        "security": [
          {
            "AccessToken": []
          },
          {
            "PhoneNumberId": []
          }
        ],
        "summary": "Update an existing template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the template to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "id": {
                      "type": "string",
                      "example": "9533679340021041"
                    },
                    "name": {
                      "type": "string",
                      "example": "seasonal_promotion12"
                    },
                    "category": {
                      "$ref": "#/components/schemas/CategoryEnum"
                    }
                  },
                  "required": [
                    "success",
                    "id",
                    "name",
                    "category"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/{wabaId}/message_templates": {
      "get": {
        "security": [
          {
            "AccessToken": []
          },
          {
            "PhoneNumberId": []
          },
          {
            "BusinessAccountId": []
          }
        ],
        "summary": "Get a list of templates",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "wabaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The WhatsApp Business Account ID"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of templates to return"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "description": "Filter by template name"
          },
          {
            "in": "query",
            "name": "language",
            "schema": {
              "$ref": "#/components/schemas/LanguagesEnum"
            },
            "description": "Filter by language"
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "$ref": "#/components/schemas/CategoryEnum"
            },
            "description": "Filter by category"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/TemplateStatusEnum"
            },
            "description": "Filter by status"
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TemplateResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "AccessToken": []
          },
          {
            "PhoneNumberId": []
          },
          {
            "BusinessAccountId": []
          }
        ],
        "summary": "Create a new template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "wabaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The WhatsApp Business Account ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status",
                    "category"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "9533679340021041"
                    },
                    "status": {
                      "$ref": "#/components/schemas/TemplateStatusEnum",
                      "example": "APPROVED"
                    },
                    "category": {
                      "$ref": "#/components/schemas/CategoryEnum",
                      "example": "MARKETING"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "AccessToken": []
          },
          {
            "PhoneNumberId": []
          },
          {
            "BusinessAccountId": []
          }
        ],
        "summary": "Delete a template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "wabaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The WhatsApp Business Account ID"
          },
          {
            "in": "query",
            "name": "hsm_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the template to delete"
          },
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the template to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/{wabaId}/subscribed_apps": {
      "get": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Get all WABA subscriptions",
        "tags": [
          "WABA"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "wabaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business account"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved WABA subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WabaSubscriptions"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Subscribe to WABA or override webhook if override_callback_uri and verify_token provided",
        "tags": [
          "WABA"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "wabaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business account"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "override_callback_uri": {
                    "type": "string",
                    "description": "The webhook URL. If provided with verify_token, acts as webhook override"
                  },
                  "verify_token": {
                    "type": "string",
                    "description": "The verification token for the webhook. Required if override_callback_uri provided"
                  }
                }
              },
              "examples": {
                "subscription": {
                  "summary": "Simple subscription",
                  "value": {}
                },
                "webhookOverride": {
                  "summary": "Subscribe with webhook override",
                  "value": {
                    "override_callback_uri": "https://example.com/webhook",
                    "verify_token": "your_verify_token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully subscribed to WABA or overrode webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "AccessToken": []
          }
        ],
        "summary": "Unsubscribe from WABA",
        "tags": [
          "WABA"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "wabaId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business account"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unsubscribed from WABA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CategoryEnum": {
        "type": "string",
        "enum": [
          "AUTHENTICATION",
          "MARKETING",
          "UTILITY"
        ]
      },
      "TemplateStatusEnum": {
        "type": "string",
        "enum": [
          "APPROVED",
          "PENDING",
          "REJECTED"
        ]
      },
      "HttpMethodsEnum": {
        "type": "string",
        "enum": [
          "GET",
          "POST",
          "PUT",
          "DELETE"
        ]
      },
      "MessageTypesEnum": {
        "type": "string",
        "enum": [
          "audio",
          "contacts",
          "document",
          "image",
          "interactive",
          "location",
          "sticker",
          "template",
          "text",
          "video"
        ]
      },
      "ParametersTypesEnum": {
        "type": "string",
        "enum": [
          "currency",
          "date_time",
          "document",
          "image",
          "text",
          "video",
          "payload"
        ]
      },
      "InteractiveTypesEnum": {
        "type": "string",
        "enum": [
          "button",
          "list",
          "product",
          "product_list"
        ]
      },
      "ButtonTypesEnum": {
        "type": "string",
        "enum": [
          "quick_reply",
          "url"
        ]
      },
      "ButtonPositionEnum": {
        "type": "number",
        "enum": [
          0,
          1,
          2
        ]
      },
      "ComponentTypesEnum": {
        "type": "string",
        "enum": [
          "HEADER",
          "BODY",
          "BUTTON",
          "FOOTER"
        ]
      },
      "WabaConfigEnum": {
        "type": "string",
        "enum": [
          "WA_BASE_URL",
          "M4D_APP_ID",
          "WA_PORT",
          "M4D_APP_SECRET",
          "WA_PHONE_NUMBER_ID",
          "WA_BUSINESS_ACCOUNT_ID",
          "CLOUD_API_VERSION",
          "CLOUD_API_ACCESS_TOKEN",
          "WEBHOOK_ENDPOINT",
          "WEBHOOK_VERIFICATION_TOKEN",
          "LISTENER_PORT",
          "MAX_RETRIES_AFTER_WAIT",
          "REQUEST_TIMEOUT",
          "DEBUG"
        ]
      },
      "ConversationTypesEnum": {
        "type": "string",
        "enum": [
          "business_initiated",
          "customer_initiated",
          "referral_conversion"
        ]
      },
      "StatusEnum": {
        "type": "string",
        "enum": [
          "delivered",
          "read",
          "sent"
        ]
      },
      "VideoMediaTypesEnum": {
        "type": "string",
        "enum": [
          "video/mp4",
          "video/3gp"
        ]
      },
      "StickerMediaTypesEnum": {
        "type": "string",
        "enum": [
          "image/webp"
        ]
      },
      "ImageMediaTypesEnum": {
        "type": "string",
        "enum": [
          "image/jpeg",
          "image/png"
        ]
      },
      "DocumentMediaTypesEnum": {
        "type": "string",
        "enum": [
          "text/plain",
          "application/pdf",
          "application/vnd.ms-powerpoint",
          "application/msword",
          "application/vnd.ms-excel",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "application/vnd.openxmlformats-officedocument.presentationml.presentation",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        ]
      },
      "AudioMediaTypesEnum": {
        "type": "string",
        "enum": [
          "audio/aac",
          "audio/mp4",
          "audio/mpeg",
          "audio/amr",
          "audio/ogg"
        ]
      },
      "WebhookTypesEnum": {
        "type": "string",
        "enum": [
          "audio",
          "button",
          "document",
          "text",
          "image",
          "interactive",
          "order",
          "sticker",
          "system",
          "unknown",
          "video"
        ]
      },
      "SystemChangeTypesEnum": {
        "type": "string",
        "enum": [
          "customer_changed_number",
          "customer_identity_changed"
        ]
      },
      "ReferralSourceTypesEnum": {
        "type": "string",
        "enum": [
          "ad",
          "post"
        ]
      },
      "RequestCodeMethodsEnum": {
        "type": "string",
        "enum": [
          "SMS",
          "VOICE"
        ]
      },
      "LanguagesEnum": {
        "type": "string",
        "enum": [
          "af",
          "sq",
          "ar",
          "az",
          "bn",
          "bg",
          "ca",
          "zh_CN",
          "zh_HK",
          "zh_TW",
          "hr",
          "cs",
          "da",
          "nl",
          "en",
          "en_GB",
          "en_US",
          "et",
          "fil",
          "fi",
          "fr",
          "ka",
          "de",
          "el",
          "gu",
          "ha",
          "he",
          "hi",
          "hu",
          "id",
          "ga",
          "it",
          "ja",
          "kn",
          "kk",
          "rw_RW",
          "ko",
          "ky_KG",
          "lo",
          "lv",
          "lt",
          "mk",
          "ms",
          "ml",
          "mr",
          "nb",
          "fa",
          "pl",
          "pt_BR",
          "pt_PT",
          "pa",
          "ro",
          "ru",
          "sr",
          "sk",
          "sl",
          "es",
          "es_AR",
          "es_ES",
          "es_MX",
          "sw",
          "sv",
          "ta",
          "te",
          "th",
          "tr",
          "uk",
          "ur",
          "uz",
          "vi",
          "zu"
        ]
      },
      "CurrencyCodesEnum": {
        "type": "string",
        "enum": [
          "AFN",
          "EUR",
          "ALL",
          "DZD",
          "USD",
          "AOA",
          "XCD",
          "ARS",
          "AMD",
          "AWG",
          "AUD",
          "AZN",
          "BSD",
          "BHD",
          "BDT",
          "BBD",
          "BYN",
          "BZD",
          "XOF",
          "BMD",
          "INR",
          "BTN",
          "BOB",
          "BOV",
          "BAM",
          "BWP",
          "NOK",
          "BRL",
          "BND",
          "BGN",
          "BIF",
          "CVE",
          "KHR",
          "XAF",
          "CAD",
          "KYD",
          "CLP",
          "CLF",
          "CNY",
          "COP",
          "COU",
          "KMF",
          "CDF",
          "NZD",
          "CRC",
          "HRK",
          "CUP",
          "CZK",
          "DKK",
          "DJF",
          "DOP",
          "EGP",
          "SVC",
          "ERN",
          "SZL",
          "ETB",
          "FKP",
          "FJD",
          "XPF",
          "GMD",
          "GEL",
          "GHS",
          "GIP",
          "GTQ",
          "GBP",
          "GNF",
          "GYD",
          "HTG",
          "HNL",
          "HKD",
          "HUF",
          "ISK",
          "IDR",
          "XDR",
          "IRR",
          "IQD",
          "ILS",
          "JMD",
          "JPY",
          "JOD",
          "KZT",
          "KES",
          "KPW",
          "KRW",
          "KWD",
          "KGS",
          "LAK",
          "LBP",
          "LSL",
          "ZAR",
          "LRD",
          "LYD",
          "CHF",
          "MOP",
          "MKD",
          "MGA",
          "MWK",
          "MYR",
          "MVR",
          "MRU",
          "MUR",
          "XUA",
          "MXN",
          "MXV",
          "MDL",
          "MNT",
          "MAD",
          "MZN",
          "MMK",
          "NAD",
          "NPR",
          "NIO",
          "NGN",
          "OMR",
          "PKR",
          "PAB",
          "PGK",
          "PYG",
          "PEN",
          "PHP",
          "PLN",
          "QAR",
          "RON",
          "RUB",
          "RWF",
          "SHP",
          "WST",
          "STN",
          "SAR",
          "RSD",
          "SCR",
          "SLL",
          "SGD",
          "XSU",
          "SBD",
          "SOS",
          "SSP",
          "LKR",
          "SDG",
          "SRD",
          "SEK",
          "CHE",
          "CHW",
          "SYP",
          "TWD",
          "TJS",
          "TZS",
          "THB",
          "TOP",
          "TTD",
          "TND",
          "TRY",
          "TMT",
          "UGX",
          "UAH",
          "AED",
          "USN",
          "UYU",
          "UYI",
          "UYW",
          "UZS",
          "VUV",
          "VES",
          "VND",
          "YER",
          "ZMW",
          "ZWL",
          "XBA",
          "XBB",
          "XBC",
          "XBD",
          "XTS",
          "XXX",
          "XAU",
          "XPD",
          "XPT",
          "XAG",
          "AFA",
          "FIM",
          "ALK",
          "ADP",
          "ESP",
          "FRF",
          "AOK",
          "AON",
          "AOR",
          "ARA",
          "ARP",
          "ARY",
          "RUR",
          "ATS",
          "AYM",
          "AZM",
          "BYB",
          "BYR",
          "BEC",
          "BEF",
          "BEL",
          "BOP",
          "BAD",
          "BRB",
          "BRC",
          "BRE",
          "BRN",
          "BRR",
          "BGJ",
          "BGK",
          "BGL",
          "BUK",
          "HRD",
          "CYP",
          "CSJ",
          "CSK",
          "ECS",
          "ECV",
          "GQE",
          "EEK",
          "XEU",
          "GEK",
          "DDM",
          "DEM",
          "GHC",
          "GHP",
          "GRD",
          "GNE",
          "GNS",
          "GWE",
          "GWP",
          "ITL",
          "ISJ",
          "IEP",
          "ILP",
          "ILR",
          "LAJ",
          "LVL",
          "LVR",
          "LSM",
          "ZAL",
          "LTL",
          "LTT",
          "LUC",
          "LUF",
          "LUL",
          "MGF",
          "MVQ",
          "MLF",
          "MTL",
          "MTP",
          "MRO",
          "MXP",
          "MZE",
          "MZM",
          "NLG",
          "NIC",
          "PEH",
          "PEI",
          "PES",
          "PLZ",
          "PTE",
          "ROK",
          "ROL",
          "STD",
          "CSD",
          "SKK",
          "SIT",
          "RHD",
          "ESA",
          "ESB",
          "SDD",
          "SDP",
          "SRG",
          "CHC",
          "TJR",
          "TPE",
          "TRL",
          "TMM",
          "UGS",
          "UGW",
          "UAK",
          "SUR",
          "USS",
          "UYN",
          "UYP",
          "VEB",
          "VEF",
          "VNC",
          "YDD",
          "YUD",
          "YUM",
          "YUN",
          "ZRN",
          "ZRZ",
          "ZMK",
          "ZWC",
          "ZWD",
          "ZWN",
          "ZWR",
          "XFO",
          "XRE",
          "XFU"
        ]
      },
      "DataLocalizationRegionEnum": {
        "type": "string",
        "enum": [
          "INDIA",
          "SINGAPORE",
          "UNITED_STATES",
          "JP",
          "SG",
          "KR",
          "DE",
          "CH",
          "GB",
          "BR",
          "BH",
          "ZA",
          "AE",
          "CA"
        ]
      },
      "Error": {
        "description": "Error response",
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "type": {
                "type": "string",
                "description": "Error type"
              },
              "error_data": {
                "type": "object",
                "description": "Additional error data"
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "description": "Generic success response",
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the operation was successful"
          }
        }
      },
      "ResponseData": {
        "description": "Generic data response wrapper",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "description": "Response data payload"
          }
        }
      },
      "MessageResponse": {
        "description": "Response from sending a WhatsApp message",
        "type": "object",
        "required": [
          "contacts",
          "messages"
        ],
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "string",
                  "description": "Phone number input"
                },
                "wa_id": {
                  "type": "string",
                  "description": "WhatsApp ID"
                }
              }
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Message ID"
                }
              }
            }
          }
        }
      },
      "EncryptionPublicKeyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "business_public_key": {
                "type": "string"
              },
              "business_public_key_signature_status": {
                "type": "string",
                "enum": [
                  "VALID",
                  "MISMATCH"
                ]
              }
            }
          },
          "public_key": {
            "type": "string",
            "description": "Encryption public key"
          }
        }
      },
      "MediaResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Media ID"
          },
          "url": {
            "type": "string",
            "description": "URL to download the media"
          },
          "mime_type": {
            "type": "string",
            "description": "MIME type of the media"
          },
          "sha256": {
            "type": "string",
            "description": "SHA256 hash of the media"
          },
          "file_size": {
            "type": "integer",
            "description": "Size of the media file in bytes"
          },
          "messaging_product": {
            "type": "string",
            "enum": [
              "whatsapp"
            ]
          }
        },
        "description": "Response from fetching media details"
      },
      "MediasResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaResponse"
            }
          },
          "paging": {
            "type": "object",
            "properties": {
              "cursors": {
                "type": "object",
                "properties": {
                  "before": {
                    "type": "string"
                  },
                  "after": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "UploadMediaResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Media ID"
          }
        },
        "description": "Response from uploading media"
      },
      "QualityScore": {
        "type": "object",
        "properties": {
          "score": {
            "type": "string",
            "enum": [
              "GREEN",
              "YELLOW",
              "RED",
              "NA"
            ],
            "description": "Quality rating of the phone number"
          }
        }
      },
      "Throughput": {
        "type": "object",
        "properties": {
          "level": {
            "type": "string",
            "enum": [
              "STANDARD",
              "HIGH",
              "NOT_APPLICABLE"
            ],
            "description": "Throughput level for the phone number"
          }
        }
      },
      "HealthStatusEntity": {
        "type": "object",
        "properties": {
          "entity_type": {
            "type": "string",
            "description": "Type of the entity"
          },
          "id": {
            "type": "string",
            "description": "Entity identifier"
          },
          "can_send_message": {
            "type": "boolean",
            "description": "Whether messages can be sent"
          },
          "additional_info": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Additional information about the entity"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "error_code": {
                  "type": "number",
                  "description": "Error code"
                },
                "error_description": {
                  "type": "string",
                  "description": "Description of the error"
                },
                "possible_solution": {
                  "type": "string",
                  "description": "Suggested solution for the error"
                }
              }
            }
          }
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "can_send_message": {
            "type": "boolean",
            "description": "Whether messages can be sent"
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HealthStatusEntity"
            },
            "description": "List of health status entities"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "display_phone_number": {
            "type": "string",
            "description": "The formatted phone number for display"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the phone number"
          },
          "quality_rating": {
            "type": "string",
            "enum": [
              "GREEN",
              "YELLOW",
              "RED",
              "NA"
            ],
            "description": "Quality rating of the phone number"
          },
          "verified_name": {
            "type": "string",
            "description": "Verified business name"
          },
          "account_mode": {
            "type": "string",
            "enum": [
              "LIVE",
              "SANDBOX"
            ],
            "description": "Current account mode"
          },
          "code_verification_status": {
            "type": "string",
            "enum": [
              "NOT_VERIFIED",
              "VERIFIED",
              "EXPIRED",
              "PENDING",
              "DELETED",
              "MIGRATED",
              "BANNED",
              "RESTRICTED",
              "RATE_LIMITED",
              "FLAGGED",
              "CONNECTED",
              "DISCONNECTED",
              "UNKNOWN",
              "UNVERIFIED"
            ],
            "description": "Current verification status"
          },
          "health_status": {
            "$ref": "#/components/schemas/HealthStatus"
          },
          "is_official_business_account": {
            "type": "boolean",
            "description": "Whether this is an official business account"
          },
          "is_on_biz_app": {
            "type": "boolean",
            "description": "Whether this number is on WhatsApp Business app"
          },
          "messaging_limit_tier": {
            "type": "string",
            "enum": [
              "TIER_50",
              "TIER_250",
              "TIER_1K",
              "TIER_10K",
              "TIER_100K",
              "TIER_UNLIMITED"
            ],
            "description": "Current messaging limit tier"
          },
          "platform_type": {
            "type": "string",
            "enum": [
              "CLOUD_API",
              "ON_PREMISE",
              "NOT_APPLICABLE"
            ],
            "description": "Type of platform"
          },
          "quality_score": {
            "$ref": "#/components/schemas/QualityScore"
          },
          "throughput": {
            "$ref": "#/components/schemas/Throughput"
          }
        },
        "required": [
          "display_phone_number",
          "id"
        ]
      },
      "PhoneNumbersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "description": "List of phone numbers"
          },
          "paging": {
            "type": "object",
            "properties": {
              "cursors": {
                "type": "object",
                "properties": {
                  "before": {
                    "type": "string",
                    "description": "Cursor for previous page"
                  },
                  "after": {
                    "type": "string",
                    "description": "Cursor for next page"
                  }
                }
              }
            }
          }
        }
      },
      "RequestCodeRequest": {
        "type": "object",
        "required": [
          "code_method",
          "language"
        ],
        "properties": {
          "code_method": {
            "type": "string",
            "enum": [
              "SMS",
              "VOICE"
            ],
            "$ref": "#/components/schemas/RequestCodeMethodsEnum",
            "description": "Method to receive verification code"
          },
          "language": {
            "type": "string",
            "$ref": "#/components/schemas/LanguagesEnum",
            "description": "Language for verification code"
          }
        }
      },
      "VerifyCodeRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Verification code received"
          }
        }
      },
      "QrCodeResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "QR code data"
          },
          "prefilled_message": {
            "type": "string",
            "description": "Prefilled message for QR code"
          },
          "deep_link_url": {
            "type": "string",
            "description": "Deep link URL for the QR code"
          },
          "qr_image_url": {
            "type": "string"
          }
        }
      },
      "QrCodesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QrCodeResponse"
            },
            "description": "List of QR codes"
          }
        }
      },
      "TemplateRequest": {
        "type": "object",
        "required": [
          "name",
          "language"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "language": {
            "$ref": "#/components/schemas/LanguagesEnum"
          },
          "category": {
            "$ref": "#/components/schemas/CategoryEnum"
          },
          "components": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "type",
                    "format"
                  ],
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ComponentTypesEnum"
                    },
                    "format": {
                      "$ref": "#/components/schemas/MessageTypesEnum"
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 60
                    },
                    "example": {
                      "type": "object",
                      "properties": {
                        "header_text": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "header_text_named_params": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "param_name": {
                                "type": "string"
                              },
                              "example": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "header_handle": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ComponentTypesEnum"
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 1024
                    },
                    "example": {
                      "type": "object",
                      "properties": {
                        "body_text": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "body_text_named_params": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "param_name": {
                                "type": "string"
                              },
                              "example": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/ComponentTypesEnum"
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 60
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text",
                    "phone_number"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "PHONE_NUMBER"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 25
                    },
                    "phone_number": {
                      "type": "string",
                      "maxLength": 20
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text",
                    "url"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "URL"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 25
                    },
                    "url": {
                      "type": "string",
                      "maxLength": 2000
                    },
                    "example": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "QUICK_REPLY"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 25
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "example"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "COPY_CODE"
                      ]
                    },
                    "example": {
                      "type": "string",
                      "maxLength": 15
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "FLOW"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 25
                    },
                    "flow_id": {
                      "type": "string"
                    },
                    "flow_name": {
                      "type": "string"
                    },
                    "flow_json": {
                      "type": "string"
                    },
                    "flow_action": {
                      "type": "string",
                      "enum": [
                        "navigate",
                        "data_exchange"
                      ]
                    },
                    "navigate_screen": {
                      "type": "string"
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "MPM"
                      ]
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "OTP"
                      ]
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "SPM"
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "TwoStepVerificationRequest": {
        "type": "object",
        "required": [
          "pin"
        ],
        "properties": {
          "pin": {
            "type": "string",
            "description": "PIN for two-step verification",
            "minLength": 6,
            "maxLength": 6
          }
        }
      },
      "WabaSubscription": {
        "type": "object",
        "properties": {
          "whatsapp_business_api_data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "WABA subscription ID"
              },
              "link": {
                "type": "string",
                "description": "Link to the WABA subscription"
              },
              "name": {
                "type": "string",
                "description": "Name of the WABA subscription"
              }
            }
          }
        }
      },
      "WabaSubscriptions": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WabaSubscription"
            },
            "description": "List of WABA subscriptions"
          }
        }
      },
      "TemplateResponse": {
        "description": "Response from template operations",
        "type": "object",
        "required": [
          "id",
          "status",
          "language",
          "category",
          "name",
          "components"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Template ID"
          },
          "status": {
            "$ref": "#/components/schemas/TemplateStatusEnum"
          },
          "language": {
            "$ref": "#/components/schemas/LanguagesEnum"
          },
          "category": {
            "$ref": "#/components/schemas/CategoryEnum"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "components": {
            "type": "array",
            "items": {
              "type": "object",
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "type",
                    "format"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "HEADER"
                      ]
                    },
                    "format": {
                      "$ref": "#/components/schemas/MessageTypesEnum"
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 60
                    },
                    "example": {
                      "type": "object",
                      "properties": {
                        "header_text": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "header_text_named_params": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "param_name": {
                                "type": "string"
                              },
                              "example": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "header_handle": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "BODY"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 1024
                    },
                    "example": {
                      "type": "object",
                      "properties": {
                        "body_text": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "body_text_named_params": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "param_name": {
                                "type": "string"
                              },
                              "example": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "FOOTER"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 60
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text",
                    "phone_number"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "PHONE_NUMBER"
                      ]
                    },
                    "text": {
                      "type": "string",
                      "maxLength": 25
                    },
                    "phone_number": {
                      "type": "string",
                      "maxLength": 20
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "type",
                    "text",
                    "url"
                  ],
                  "properties": {
                    "type": {
[...]
